/_notes/dwsync.xml
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/misc.xml
/.idea/php.xml
/.idea/Manual_PHP.iml
/.idea/_notes/dwsync.xml
/.idea/codeStyles/_notes/dwsync.xml